@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu');

body {
    max-width: 1400px;
    margin: 0 auto;
    background-color: #E74E35;
}

header {
    background-color: white;
    display: grid;
    grid-template-columns: 3fr 4fr;
    height: 100px;
    margin-bottom: 40px;
}

#logo {
    margin: 0 auto;
}

#logo img {
    height: 100px;
}

nav {
    display: grid;
    grid-template-columns: 3fr 3fr 3fr 1fr;
    height: 100px;
}

nav a {
    text-align: center;
    line-height: 100px;
    font-family: "Ubuntu", Tahoma, sans-serif;
    font-size: 120%;
    color: #3C6997;
    text-decoration: none;
}

nav a:hover {
    color: white;
    background-color: #5ADBFF;
}

#toptext {
    font-family: "Kdam Thmor Pro", Tahoma, sans-serif;
    color: white;
    font-size: 220%;
    text-align: center;
    text-shadow: 0 0 3px black;
}

.disclaimer {
    background-color: white;
    width: 700px;
    padding: 6px 24px;
    margin: 40px auto 50px;
}

.disclaimer h2 {
    font-family: "Kdam Thmor Pro", Tahoma, sans-serif;
    text-align: center;
    padding-top: 0;
}

.disclaimer p {
    font-family: "Ubuntu", Tahoma, sans-serif;
    line-height: 150%;
}

.events {
    background-color: white;
    width: 1200px;
    margin: 50px auto;
}

.heropic {
    width: 100%;
    margin-bottom: 40px;
}

.events ul {
    padding-bottom: 10px;
}

.events li {
    display: grid;
    grid-template-columns: 1fr 5fr 2fr;
    grid-gap: 40px;
    margin: 40px 0;
}

.events li h2 {
    font-family: "Kdam Thmor Pro", Tahoma, sans-serif;
    margin-top: 14px;
}

.events li p {
    font-family: "Ubuntu", Tahoma, sans-serif;
    font-size: 110%;
}

.events li a {
    width: 170px;
    height: fit-content;
    margin-left: 24px;
    margin-top: 14px;
}

.events li button {
    font-family: "Ubuntu", Tahoma, sans-serif;
    font-size: 110%;
    width: 100%;
    line-height: 200%;
    background-color: #5ADBFF;
    border: 0px solid black;
    border-radius: 7px;
}

.events li button:hover, .suggest div button:hover {
    color: #E74E35;
    background-color: #FDE74C;;
}

.eventpic {
    width: 100%;
}

.suggest {
    background-color: white;
    width: 900px;
    margin: 50px auto;
    display: grid;
    grid-template-columns: 644px 1fr;
}

.suggest img {
    width: 100%;
}

.suggest div {
    padding: 20px;
}

.suggest div h2 {
    font-family: "Kdam Thmor Pro", Tahoma, sans-serif;
    text-align: center;
}

.suggest div button {
    font-family: "Ubuntu", Tahoma, sans-serif;
    font-size: 110%;
    width: 200px;
    margin-left: 202px;
    line-height: 200%;
    background-color: #5ADBFF;
    border: 0px solid black;
    border-radius: 7px;
}

footer {
    background-color: white;
    display: grid;
    grid-template-columns: 3fr 2fr 2fr;
    height: 100px;
}

footer h3 {
    margin: 0;
    grid-column: 1/2;
    text-align: center;
    line-height: 100px;
    font-family: "Ubuntu", Tahoma, sans-serif;
    font-size: 120%;
}

.splink {
    width: 70%;
    margin: 0;
    grid-column: 2/3;
    text-align: center;
    line-height: 100px;
    font-family: "Ubuntu", Tahoma, sans-serif;
    font-size: 120%;
    color: #3C6997;
    text-decoration: none;
}

.splink:hover {
    color: white;
    background-color: #5ADBFF;
}

footer div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
}

.socialicon {
    width: 70px;
}