ul {
    list-style-type: none;
}

.blueTable {
    border-collapse: collapse;
}

.blueTable tr, .blueTable td {
    border:2px solid blue;
}

.blueTable td {
    padding: 10px;
}

.blueTable tr:nth-child(odd) td:nth-child(odd){
    background-color: yellow;
}

.blueTable tr:nth-child(even) td:nth-child(even){
    background-color: yellow;
}